*.py[co]

# Default development database
devdata.db

# Old database
old.db

# Default data directory
data/*

# Packages
*.egg
*.egg-info
*.eggs
dist
build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Development logs
log_issue*
log_development*

# Virtualenv requirements
req*.txt

# Nosetests output
nosetests_output

# Cache
__pycache__

# Configuration file with clear password
.development.ini
